@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css');
 /* .text{
    color: #e8e9ed;
 } */
  .navbar {
    background-color: #232730;   
    }
    li :hover:not(.active) {
      background-color: #353a47;
      text-decoration: none;
      border-radius: 5px;
    }
    .container-fluid{
      margin: bottom -15px;
      padding-bottom: 0%;
  }
 .navbar-nav .nav-item a {
    color: #e8e9ed;  /* Change to your desired color */
    font-weight: 500;
    /* float:inline-end; */
  }
  /* .search-input {
    background-color: #333a45;
    color: white;
    /* width: 400px; Set your desired width 
  } */
  .form-control{
    border: none;
    border-radius: 20px;
    /* float: left; */
  }
  .nav-item{
    float: inline-end;
  }
  .App-logo{
    width: 40px;
  }
  